.container {
  .item {
    background: #ffffff;
    line-height: 100PX;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .text {
      font-family: PingFangSC-Regular;
      font-weight: 400;
      font-size: 32PX;
      color: #333333;
    }
    .right {
      width: 13PX;
      height: 22PX;
    }
  }
  .exit {
    line-height: 88PX;
    background: #e8e9eb;
    border-radius: 8PX;
    text-align: center;

    font-family: PingFangSC-Medium;
    font-weight: 500;
    font-size: 32PX;
    color: #666666;
  }
}
